# Port where HTTP Apps Serve
PIKSEL_PORT=4500

# Default Adapter, You could also choose for more options in the future
ADAPTER=couch

# Database Name
PIKSEL_DATABASE_NAME=piksel

# Couch DB Configurations. If you choose adapter 'couch', this env value will be used
PIKSEL_COUCHDB_HOST=127.0.0.1
PIKSEL_COUCHDB_PROTOCOL=http
PIKSEL_COUCHDB_PORT=5984